<li {{action 'toggleContent'}}>{{post.title}}
  {{#if contentShowing}}
    <p>{{post.content}}</p>
  {{/if}}
  {{update-post post=post update="update"}}
  <button {{action 'delete' post}}>Delete</button>
</li>
